    
<!-- Raw Links -->
 <div class="col-md-3 col-sm-3 col-xs-3 clearfix">
    <div style=" display: inline;" class="list-inline links-list pull-right">
        <ul class="list-inline links-list pull-right">
            <li style="display:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li style=" display: inline;">
                
            </li>
            <li style=" display: inline;" class="sep"></li>
            <li style=" display: inline;">
                <a style="color: #373e4a;" class="bottomNav" onclick="history.go(-1); return false;" href="#">
                    &nbsp;&nbsp;&nbsp;Geri <i class="entypo-back right"></i>
                </a>
            </li>
            <li style=" display: inline;" class="sep"></li>
            <li style=" display: inline;">
                <a style="color: #373e4a;" href="/LogOut">
                    &nbsp;&nbsp;&nbsp;Çıkış <i class="entypo-logout right"></i>
                </a>
            </li>
        </ul>

    </div>
</div> 