 <div class="sidebar-menu fixed">
    <div class="sidebar-menu-inner">
            <div class="logo">
                <a href="index.html" style="color:white;"    class="logo d-flex align-items-center me-auto me-lg-0">
                    <h1 class="sitename">KH</h1>
                    <span class="nokta">.</span>
                </a>
            </div>

        <ul style="margin-top:30px;" id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li>
                <a href="~/Home/DashBoard">
                    <i class="entypo-home"></i>
                    <span class="title">Bilgi Paneli</span>
                </a>
            </li>
            <li>
                <a href="~/Definition/ReferansList">
                    <i class="entypo-archive"></i>
                    <span class="title">Referanslar</span>
                </a>
            </li>
        </ul>
   </ul>
    </div>
</div>  
<style>
    .sitename{
        margin-left:30px;
        margin-top:37px;
    }
    .nokta{
        color:orange;
        font-size: 70px;
        display: inline-block;
    }
</style>